/* 全体のリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

/* ヘッダー */
.header {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header__logo img {
  width: 20vw;
  height: auto;
}

/* リンク */
.header__link {
  display: block;
  text-align: center;
  margin: 20px 0;
  font-size: 16px;
  text-decoration: none;
  color: white;
}

.header__link:hover {
  color: #007bff;
}





/* ログインフォーム */
.login-form {
  max-width: 50%;
  margin: 100px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;

}

.login-form__heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.login-form__group {
  margin-bottom: 15px;
}

.login-form__label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

.login-form__input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-form__input:focus {
  border-color: rgb(43, 42, 42);
  outline: none;
}

.login-form__btn {
  width: 100%;
  padding: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 30px;
}

.login-form__btn:hover {
  background-color: red;
}

/* エラーメッセージ */
.register-form__error-message {
  font-size: 12px;
  color: red;
  margin-top: 5px;
}

.register-form__error-message span {
  color: red;
}



.login-form__register-link {
  
  text-align: center;
  margin-top: 20px;




}
.register__link {
  color:blue;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  
  

}