


/* ヘッダー */
.header {
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.header__logo img {
    width: 20vw;
    height: auto;
}


.container {
    text-align: center;
    margin: 130px auto;
    padding: 30px;
    font-weight: bold;
    font-size: 20px;
    line-height: 7px;
}

.alert {
    width: 100%;
    padding: 20px;
   
    margin-bottom: 20px;
}


.btn-warning{
    color: rgb(6, 82, 153);
    border: none;
    background-color: white;
    margin-top:90px;
    font-size: 16px;
}

.mailhog-link {
   
    margin-top: 80px;
 
}
.btn-success {
   
    border: 1px solid black;
    background-color: #dbdcdf;
    text-decoration: none;
    border-radius: 5px;
    color: #000;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
 
  
    
}

